@font-face {
    font-family: "montserrat";
    font-weight: normal;
    src: url("/assets/fonts/montserrat-bold-webfont.woff") format("woff");
}

@font-face {
    font-family: "montserrat";
    font-weight: bold;
    src: url("/assets/fonts/montserrat-bold-webfont.woff") format("woff");
}

@font-face {
    font-family: "opensans";
    font-weight: 100;
    src: url("/assets/fonts/OpenSans-Light-webfont.woff") format("woff");
}

@font-face {
    font-family: "opensans";
    font-weight: 400;
    src: url("/assets/fonts/OpenSans-Regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "opensans";
    font-weight: 700;
    src: url("/assets/fonts/OpenSans-Bold-webfont.woff") format("woff");
}

