$blue: #00bdfa;
$red: #BF370A;
$smoke: #EAEAEA;
$white: #fff;
$black: #000;
$pink: #f1c8d8;

$body-background: $white;
$text-color: $black;

$font-heading: 'Bree Serif', Arial, serif;
$font-heading2: Montserrat, Arial, sans-serif;
$sans-serif: roboto, Helvetica, sans-serif;
