<!-- SHARON IMPOSTER -->

<section data-background="assets/img/jessica-rose.jpg" class="">
    <div class="position__bottom bg__black">
        <h1 class="blue-txt">Jessica Rose</h1>
        <h2 class="white-txt">Imposter Syndrome</h2>
    </div>
</section>

<section data-background-color="#00bdfa">
    <h2 class="shadow-title white-txt">Imposter Syndrome</h2>
    <ul class="fragment">
        <li>Insecurity</li>
        <li>Skill</li>
        <li>Faking</li>
        <li>Technology</li>
    </ul>
</section>

<section data-background-color="#00bdfa">
    <h2 class="shadow-title white-txt">Thinking error brain</h2>
    <p>wrong data > wrong conclusions</p>
</section>

<section data-background="assets/img/jessica-rose-donttellthem.jpg">
    <div class="position__bottom bg__black">
        <h3>Solution</h3>
        <ul class="fragment white-txt">
            <li>Work harder</li>
            <li>Sweet spot</li>
            <li>Learning goal</li>
        </ul>
    </div>
</section>
