<!-- SHARON INTRO -->

<section data-state="prestate" data-background-color="#f1c8d8">
    <img data-src="assets/img/intro.png">
</section>

<section data-background="assets/img/pathe-tuschinski.jpg" class="bg__white">
    <h1 class="shadow-title blue">Fronteers Conference</h1>
    <p><strong>16 speakers</strong> at a great venue: <em>Pathe Tuschinski</em> in Amsterdam.</p>
    <p>One of the best front-end conferences in the Netherlands.</p>
</section>

<section data-background-color="">
    <h1>History</h1>
    <h3>The past 10 years of front-end</h3>
</section>

<section data-background="assets/img/stephan-hay.jpg">
    <div class="position__bottom bg__black">
        <h1 class="blue-txt">Stephan Hay</h1>
        <h2 class="white-txt">A Ghost Story of CSS</h2>
    </div>
</section>

<section data-background-color="">
    <h3>Rounded corners</h3>
    <img src="assets/img/history-example-css.png">
</section>

<section data-background-color="#fff" class="bg__black">
    <h3>CSS3</h3>
    <ul class="white-txt">
        <li>Grid, layout, flexbox</li>
        <li>Speed & filesize</li>
        <li>Developing</li>
    </ul>
</section>

<section data-background="assets/img/niels-leenheer.jpg">
    <div class="position__bottom bg__black">
        <h1 class="blue-txt">Niels Leenheer</h1>
        <h2 class="white-txt">Don't Panic</h2>
    </div>
</section>

<section data-background-color="#fff" class="bg__black">
    <h1>‘IE6 is a great browser’</h1>
    <h3 class="fragment white-txt">(15 years ago)</h3>
</section>

<section data-background-color="#fff" class="bg__black">
    <h1>Make things a bit better.</h1>
    <h1 class="white-txt">Be happy. <span class="heart"></span></h1>
</section>

