<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Presentation</title>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
        <link href="assets/css/slides.css" rel="stylesheet"></link>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
        <script src="assets/js/slides.js"></script>
    </head>
    <body>
        <main class="reveal">
            <article class="slides">
                {% block intro %}
                {% endblock %}
                
                {% block imposter %}
                {% endblock %}

                {% block testing %}
                {% endblock %}

                {% block devtools %}
                {% endblock %}
            </article>
        </main>
    </body>
</html>
