<!-- SHARON INTRO -->

<section data-background-color="">
    <h1>History</h1>
    <h3>The past 10 years of front-end</h3>
</section>

<section data-background="assets/img/stephan-hay.jpg">
    <div class="position__bottom bg__black">
        <h1 class="blue-txt">Stephan Hay</h1>
        <h2 class="white-txt">A Ghost Story of CSS</h2>
    </div>
</section>

<section data-background-color="#00bdfa">
    <h3 class="shadow-title white-txt">Rounded corners</h3>
    <img src="assets/img/history-example-css.png">
</section>

<section data-background-color="#00bdfa" class="bg__black">
    <h3 class="shadow-title white-txt">CSS3</h3>
    <ul class="white-txt">
        <li>Grid, layout, flexbox</li>
        <li>Speed & filesize</li>
        <li>Developing</li>
    </ul>
</section>

<section data-background="assets/img/niels-leenheer.jpg">
    <div class="position__bottom bg__black">
        <h1 class="blue-txt">Niels Leenheer</h1>
        <h2 class="white-txt">Don't Panic</h2>
    </div>
</section>

<section data-background-color="#00bdfa" class="bg__black">
    <h1 class="shadow-title">‘IE6 is a great browser’</h1>
    <h3 class="fragment white-txt">(15 years ago)</h3>
</section>

<section data-background-color="#00bdfa" class="bg__black">
    <h1 class="shadow-title">Make things a bit better.</h1>
    <h1 class="white-txt">Be happy. <span class="heart"></span></h1>
</section>

