<!-- PETER -->

<section data-background="assets/img/alicia.jpg">
    <div class="bg__black">
        <h1 class="shadow-title blue-txt">Alice Sedlock</h1>
        <h2 class="shadow-title white-txt">The Landscape of Front-End Testing</h2>
    </div>
</section>

<section data-background-color="#00bdfa">
    <h2 class="shadow-title white-txt">Front-end testing is...</h2>
    <p class="fragment">
        a collection of techniques to hold developers accountable for writing and maintaining functioning and useable code bases.
    </p>
    <p class="fragment big-txt testing-label">...CHECKING IF STUFF (STILL) WORKS!</p>
</section>

<!-- <section data-background="assets/img/alicia.jpg">
    <blockquote>
        <p class="white-txt">&ldquo;Developers have a social responsibility&rdquo;</p>
    </blockquote>
    <div class="fragment">
        <p class="left white-txt" style="padding-top: 30px;">
            <span style="margin-right: 20px;" >1. Unit</span>
            <span style="margin-right: 20px;">2. Integration</span>
        </p>
        <p class="left white-txt">
            <span style="margin-right: 20px;">3. Acceptance</span>
            <span style="margin-right: 20px;">4. Visual regression</span>
            <span>5. Performance</span>
        </p>
        <p class="left white-txt">
            <span style="margin-right: 20px;">6. a11y</span>
            <span>7. Monkey testing</span>
        </p>
    </div>
</section> -->

<section data-background="assets/img/alicia.jpg">
    <div class="bg__black">
        <h1 class="shadow-title blue-txt">Different testing options</h1>
        <p style="padding-top: 30px;font-size: 1.5em;">
            <span style="margin-right: 20px;background: #fff;padding: 5px 10px;">Unit</span>
            <span style="margin-right: 20px;background: #fff;padding: 5px 10px;">Integration</span>
            <span style="margin-right: 20px;background: #fff;padding: 5px 10px;">Acceptance</span>
        </p>
        <p style="font-size: 1.5em;">
            <span style="margin-right: 20px;background: #fff;padding: 5px 10px;">Visual regression</span>
            <span style="margin-right: 20px;background: #fff;padding: 5px 10px;">Performance</span>
            <span style="margin-right: 20px;background: #fff;padding: 5px 10px;">a11y</span>
        </p>
    </div>
</section>

<section data-background-color="#00bdfa">
    <h2 class="shadow-title white-txt left">Visual regression tests</h2>
    <p class="left">check for inconsistencies in the view</p>
</section>

<section data-background-color="#00bdfa">
    <img src="assets/img/diff.png" >
</section>

<!-- <section data-background-color="#00bdfa">
    <h2 class="shadow-title white-txt left">Accessibility testing</h2>
    <p class="left">compare your site against accessibility standards</p>
</section>

<section data-background="assets/img/accessibility-chrome.png">
</section>

<section data-background="assets/img/accessibility-chrome2.png">
</section> -->

<section data-background-color="#00bdfa">
    <h2 class="shadow-title white-txt left">Monkey testing</h2>
    <p class="left strike">is not testing on monkeys</p>
    <p class="fragment left fade-left">random, automated, behavior testing</p>
</section>

<section data-background="assets/img/gremlins.gif">
    <h2>Gremlins.js</h2>
</section>

<section data-background-color="#00bdfa">
    <img src="assets/img/monkeytesting.gif">
</section>


